/* Style pour le formulaire */
form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
  }
  
  textarea {
    height: 150px;
  }
  
  button[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #555;
  }
  
  
.contact-form-container {
  position: relative; /* Position relative pour positionner les éléments enfants */
  z-index: 1; /* Assure que le formulaire a un index z plus élevé que le Particle */
}